# ======================
# Java
# ======================
*.class
*.jar
*.war
*.ear

# ======================
# Build & output
# ======================
bin/
build/
out/

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Khusus kamu (biar src gak ikut)
# ======================
src/